/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container{
    width: 90%;
    margin:auto
}

.flex{
    display: flex;
}

/* #region HEADER */

/* #region HEADER top */
.debug #header-top{
    background-color: #add8e6;
}

nav{
    justify-content: center;
    padding: 1rem;
}

.debug header nav div{
    background-color: #daa520;
    border: 2px dashed black;
    padding: 0.5rem;
}

.debug header nav #logo{
    width: 10%;
}

.debug header nav #link{
    width: 50%;
    justify-content: center;
}

#link>a{
    margin: 0 1rem;
}

.debug header nav #login{
    width: 10%;
    justify-content: flex-end;

}
/* #endregion HEADER top*/

/* #region HEADER bottom */
.debug #header-bottom{
    background-color: #00008b;
    padding: 2rem;
}

.debug .titlecontainer{
    background-color: #ee82ee;
    border: 2px dashed black;
    margin: auto;
    height: 300px;
    width: calc((100% / 12) * 6);    
}

/* #endregion HEADER bottom*/
/* #endregion HEADER*/
